/** ######################################### **/
/** #################  MAIN  ################ **/
/** ######################################### **/

html{
    --dark-color: #1f2327;
    --soft-dark-color: #2c3136;
    --light-color: #f5f5f5;

    --red-color: #ff2525;
    --dark-red-color: #b71c1c;
    --orange-color: #ff9800;
    --yellow-light-color: #ffc248;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
/** ######################################### **/
/** #############  CONTENU  ################# **/
/** ######################################### **/
.main-div{
    background-color: var(--soft-dark-color);
}
.main-div-div{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    background-color: var(--soft-dark-color);
    color: var(--light-color);
    transition: 1s;
    border-radius: 2%;
    border-bottom: 2px solid var(--light-color);
}
.main-div-div:hover{
    border-bottom: 2px solid var(--red-color);
    transition: 1s;
}
.main-div-div:last-child{
    border-bottom: none;
}
.main-div-div:last-child .main-div-div-aside:last-child{
    border-bottom: none;
}
.main-div-div-aside{
    width: 40%;
    padding: 1rem;
    border-radius: 1rem;
    transition: 1s;
}
.main-div-div-aside img{
    width: 100%;
    border-radius: 1rem;
    transition: 1s;
    box-shadow: 0 0 10px var(--dark-color);
}
.main-div-div-aside p{
    font-size: 1.5rem;
    font-style: italic;
    transition: 1s;
}
.main-div-div-aside img:hover{
    box-shadow: 0 0 20px var(--dark-red-color);
    transition: 1s;
}
.main-div-div-aside:nth-of-type(2n) img:hover{
    transform: rotate(5deg);
    transition: 1s;
}
.main-div-div-aside:nth-of-type(2n-1) img:hover{
    transform: rotate(-5deg);
    transition: 1s;
}
@media screen and (max-width: 700px){
    .main-div-div{
        flex-direction: column;
        align-items: center;
        border: none;
        width: auto;
    }
    .main-div-div:hover{
        border: none;
    }
    .main-div-div-aside{
        width: 90%;
        padding: 1rem;
        border-radius: 1rem;
        transition: 1s;
    }
    .main-div-div-aside:nth-of-type(2n){
        border-bottom: 1px solid var(--light-color);
    }
    .main-div-div-aside:nth-of-type(2n):hover{
        border-bottom: 1px solid var(--red-color);
    }
}

/** ######################################### **/
/** ##############  NAVIGATION  ############# **/
/** ######################################### **/

.navigation-bar{
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dark-color);
    transition: 1s;
    z-index: 1;
}
.navigation-bar:hover{
    box-shadow: 0 0 20px var(--dark-red-color);
    transition: 1s;
}
.navigation-bar a img{
    border-radius: 50%;
    box-shadow: 0 0 10px var(--orange-color);
    transition: 1s;
}
.navigation-bar a img:hover{
    box-shadow: 0 0 20px var(--yellow-light-color);
    transition: 1s;
}
.navigation-bar-ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-bar-ul-a{
    text-decoration: none;
    color: var(--light-color);
    padding: 2rem;
    font-size: 1.5rem;
    transition: 1s;
}
.navigation-bar-ul-a:hover{
    color: var(--red-color);
    transition: 1s;
}

@media screen and (max-width: 700px){
    .navigation-bar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navigation-bar-ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .navigation-bar-ul li a{
        display : flex;
        padding: 0;
        font-size: 1.5rem;
        transition: 1s;
    }
    .navigation-bar-ul li a:hover{
        color: var(--red-color);
        transition: 1s;
        transform: translate(10%)
    }
}

/** ######################################### **/
/** ##############  FOOTER  ################# **/
/** ######################################### **/
footer{
    transition: 1s;
}
footer:hover{
    box-shadow: 0 0 20px var(--dark-red-color);
    transition: 1s;
}
.footer-aside:first-child{
    border-top: 1px solid var(--dark-color);
}
.footer-aside{
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 1s;
}
.footer-aside p{
    padding: 1rem;
    font-size: 1.5rem;
    font-style: italic;
}
.footer-aside p a{
    text-decoration: none;
    color: var(--light-color);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    transition: 1s;
}
.footer-aside p a:hover{
    color: var(--red-color);
    transition: 1s;
}
.footer-a{
    text-decoration: none;
    color: var(--light-color);
    font-size: 1.5rem;
    width: 5%;
    padding: 1rem;
}
.footer-a img{
    object-fit: contain;
    width: -webkit-fill-available;
    border-radius: 50%;
}
@media screen and (max-width: 700px){
    .footer-aside{
        justify-content: space-evenly;
    }
    .footer-a img{
        min-width: 2em;
    }
}